[Unit]
Description=Tester Service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=root
ExecStart=/usr/bin/nice -19 /usr/local/bin/tester
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
EnvironmentFile=-/usr/local/etc/tester/tester.env

[Install]
WantedBy=multi-user.target
